.hero_section_container {
  padding-top: 78px;
  padding-bottom: 100px;
}

.hero_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .hero_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .hero_container {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}

.hero_container_left {
  max-width: 595px;
}

.hero_title {
  font-weight: 600;
  font-size: 42px;
  line-height: 1.03;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero_title {
    font-size: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .hero_title {
    font-size: 80px;
  }
}

.hero_title > span {
  font-style: italic;
  color: #54be96;
}

.hero_subtitle {
  max-width: 510px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero_subtitle {
    font-size: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .hero_subtitle {
    font-size: 18px;
  }
}

.hero_btn {
  border-radius: 30px;
  padding: 18px 50px;
  width: 235px;
  height: 60px;
  background-color: #54be96;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 250ms ease-in-out;
}

.hero_btn > svg {
  stroke-width: 2px;
  fill: #fbfbfb;
}

.hero_btn:hover {
  background-color: #36a379;
}

@media screen and (min-width: 768) {
  .hero_btn {
    width: 200px;
    height: 50px;
    padding: 12px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .hero_btn {
    padding: 18px 50px;
    width: 235px;
    height: 60px;
  }
}

.hero_container_right {
  position: relative;
}

.hero_image_container {
  position: relative;
}

.users_img_container {
  position: absolute;
  top: 38px;
  right: -25px;
  width: 40px;
  height: 40px;
  background-color: #fbc75e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(15deg);
}

@media screen and (min-width: 1440px) {
  .users_img_container {
    top: 45px;
    right: -30px;
  }
}

.question_img_container {
  position: absolute;
  top: 165px;
  left: -15px;
  background-color: #4535af;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-15deg);
}

@media screen and (min-width: 768px) {
  .question_img_container {
    top: 120px;
    left: -35px;
  }
}

@media screen and (min-width: 1440px) {
  .question_img_container {
    top: 201px;
    left: -35px;
  }
}

.hero_expienced_container {
  position: absolute;
  bottom: 50px;
  left: -20px;
  height: 55px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #54be96;
  border-radius: 12px;
  padding: 0;
}

@media screen and (min-width: 1440px) {
  .hero_expienced_container {
    bottom: 75px;
    left: -100px;
    padding: 32px;
    width: 311px;
    border-radius: 20px;
    height: 118px;
  }
}

.experienced_check_container {
  width: 20px;
  height: 20px;
  background-color: #fbfbfb;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .experienced_check_container {
    width: 54px;
    height: 54px;
  }

  .expienced_check_img {
    width: 30px;
    height: 30px;
  }
}

.experienced_title {
  font-weight: 400;
  font-size: 12px;
  color: rgba(251, 251, 251, 0.5);
  width: max-content;
  margin-bottom: 8px;
}

@media screen and (min-width: 1440px) {
  .experienced_title {
    font-size: 14px;
  }
}

.experienced_subtitle {
  font-weight: 700;
  font-size: 12px;
  color: #fbfbfb;
}

@media screen and (min-width: 1440px) {
  .experienced_subtitle {
    font-size: 24px;
  }
}
