.nav {
  display: none;
}

@media screen and (min-width: 1440px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.nav_link {
  position: relative;
  letter-spacing: -0.01em;
  transition: color 250ms ease-in-out;
}
.nav_link:hover {
  color: #54be96;
}

.nav_link_active::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #54be96;
  border-radius: 100%;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
